.consumableitem0 {
background-position: calc(var(--icon-size) * -0) calc(var(--icon-size) * -0);
}
.consumableitem1 {
background-position: calc(var(--icon-size) * -1) calc(var(--icon-size) * -0);
}
.consumableitem2 {
background-position: calc(var(--icon-size) * -2) calc(var(--icon-size) * -0);
}
.consumableitem3 {
background-position: calc(var(--icon-size) * -3) calc(var(--icon-size) * -0);
}
.consumableitem4 {
background-position: calc(var(--icon-size) * -4) calc(var(--icon-size) * -0);
}
.consumableitem5 {
background-position: calc(var(--icon-size) * -5) calc(var(--icon-size) * -0);
}
.consumableitem6 {
background-position: calc(var(--icon-size) * -6) calc(var(--icon-size) * -0);
}
.consumableitem7 {
background-position: calc(var(--icon-size) * -7) calc(var(--icon-size) * -0);
}
.consumableitem8 {
background-position: calc(var(--icon-size) * -8) calc(var(--icon-size) * -0);
}
.consumableitem9 {
background-position: calc(var(--icon-size) * -9) calc(var(--icon-size) * -0);
}
.consumableitem10 {
background-position: calc(var(--icon-size) * -10) calc(var(--icon-size) * -0);
}
.consumableitem11 {
background-position: calc(var(--icon-size) * -0) calc(var(--icon-size) * -1);
}
.consumableitem12 {
background-position: calc(var(--icon-size) * -1) calc(var(--icon-size) * -1);
}
.consumableitem13 {
background-position: calc(var(--icon-size) * -2) calc(var(--icon-size) * -1);
}
.consumableitem14 {
background-position: calc(var(--icon-size) * -3) calc(var(--icon-size) * -1);
}
.consumableitem15 {
background-position: calc(var(--icon-size) * -4) calc(var(--icon-size) * -1);
}
.consumableitem16 {
background-position: calc(var(--icon-size) * -5) calc(var(--icon-size) * -1);
}
.consumableitem17 {
background-position: calc(var(--icon-size) * -6) calc(var(--icon-size) * -1);
}
.consumableitem18 {
background-position: calc(var(--icon-size) * -7) calc(var(--icon-size) * -1);
}
.consumableitem19 {
background-position: calc(var(--icon-size) * -8) calc(var(--icon-size) * -1);
}
.consumableitem20 {
background-position: calc(var(--icon-size) * -9) calc(var(--icon-size) * -1);
}
.consumableitem21 {
background-position: calc(var(--icon-size) * -10) calc(var(--icon-size) * -1);
}
.consumableitem22 {
background-position: calc(var(--icon-size) * -0) calc(var(--icon-size) * -2);
}
.consumableitem23 {
background-position: calc(var(--icon-size) * -1) calc(var(--icon-size) * -2);
}
.consumableitem24 {
background-position: calc(var(--icon-size) * -2) calc(var(--icon-size) * -2);
}
.consumableitem25 {
background-position: calc(var(--icon-size) * -3) calc(var(--icon-size) * -2);
}
.consumableitem26 {
background-position: calc(var(--icon-size) * -4) calc(var(--icon-size) * -2);
}
.consumableitem27 {
background-position: calc(var(--icon-size) * -5) calc(var(--icon-size) * -2);
}
.consumableitem28 {
background-position: calc(var(--icon-size) * -6) calc(var(--icon-size) * -2);
}
.consumableitem29 {
background-position: calc(var(--icon-size) * -7) calc(var(--icon-size) * -2);
}
.consumableitem30 {
background-position: calc(var(--icon-size) * -8) calc(var(--icon-size) * -2);
}
.consumableitem31 {
background-position: calc(var(--icon-size) * -9) calc(var(--icon-size) * -2);
}
.consumableitem32 {
background-position: calc(var(--icon-size) * -10) calc(var(--icon-size) * -2);
}
.consumableitem33 {
background-position: calc(var(--icon-size) * -0) calc(var(--icon-size) * -3);
}
.consumableitem34 {
background-position: calc(var(--icon-size) * -1) calc(var(--icon-size) * -3);
}
.consumableitem35 {
background-position: calc(var(--icon-size) * -2) calc(var(--icon-size) * -3);
}
.consumableitem36 {
background-position: calc(var(--icon-size) * -3) calc(var(--icon-size) * -3);
}
.consumableitem37 {
background-position: calc(var(--icon-size) * -4) calc(var(--icon-size) * -3);
}
.consumableitem38 {
background-position: calc(var(--icon-size) * -5) calc(var(--icon-size) * -3);
}
.consumableitem39 {
background-position: calc(var(--icon-size) * -6) calc(var(--icon-size) * -3);
}
.consumableitem40 {
background-position: calc(var(--icon-size) * -7) calc(var(--icon-size) * -3);
}
.consumableitem41 {
background-position: calc(var(--icon-size) * -8) calc(var(--icon-size) * -3);
}
.consumableitem42 {
background-position: calc(var(--icon-size) * -9) calc(var(--icon-size) * -3);
}
.consumableitem43 {
background-position: calc(var(--icon-size) * -10) calc(var(--icon-size) * -3);
}