.keyitem0 {
background-position: calc(var(--icon-size) * -0) calc(var(--icon-size) * -0);
}
.keyitem1 {
background-position: calc(var(--icon-size) * -1) calc(var(--icon-size) * -0);
}
.keyitem2 {
background-position: calc(var(--icon-size) * -2) calc(var(--icon-size) * -0);
}
.keyitem3 {
background-position: calc(var(--icon-size) * -3) calc(var(--icon-size) * -0);
}
.keyitem4 {
background-position: calc(var(--icon-size) * -4) calc(var(--icon-size) * -0);
}
.keyitem5 {
background-position: calc(var(--icon-size) * -5) calc(var(--icon-size) * -0);
}
.keyitem6 {
background-position: calc(var(--icon-size) * -6) calc(var(--icon-size) * -0);
}
.keyitem7 {
background-position: calc(var(--icon-size) * -7) calc(var(--icon-size) * -0);
}
.keyitem8 {
background-position: calc(var(--icon-size) * -8) calc(var(--icon-size) * -0);
}
.keyitem9 {
background-position: calc(var(--icon-size) * -9) calc(var(--icon-size) * -0);
}
.keyitem10 {
background-position: calc(var(--icon-size) * -0) calc(var(--icon-size) * -1);
}
.keyitem11 {
background-position: calc(var(--icon-size) * -1) calc(var(--icon-size) * -1);
}
.keyitem12 {
background-position: calc(var(--icon-size) * -2) calc(var(--icon-size) * -1);
}
.keyitem13 {
background-position: calc(var(--icon-size) * -3) calc(var(--icon-size) * -1);
}
.keyitem14 {
background-position: calc(var(--icon-size) * -4) calc(var(--icon-size) * -1);
}
.keyitem15 {
background-position: calc(var(--icon-size) * -5) calc(var(--icon-size) * -1);
}
.keyitem16 {
background-position: calc(var(--icon-size) * -6) calc(var(--icon-size) * -1);
}
.keyitem17 {
background-position: calc(var(--icon-size) * -7) calc(var(--icon-size) * -1);
}
.keyitem18 {
background-position: calc(var(--icon-size) * -8) calc(var(--icon-size) * -1);
}
.keyitem19 {
background-position: calc(var(--icon-size) * -9) calc(var(--icon-size) * -1);
}
.keyitem20 {
background-position: calc(var(--icon-size) * -0) calc(var(--icon-size) * -2);
}
.keyitem21 {
background-position: calc(var(--icon-size) * -1) calc(var(--icon-size) * -2);
}
.keyitem22 {
background-position: calc(var(--icon-size) * -2) calc(var(--icon-size) * -2);
}
.keyitem23 {
background-position: calc(var(--icon-size) * -3) calc(var(--icon-size) * -2);
}
.keyitem24 {
background-position: calc(var(--icon-size) * -4) calc(var(--icon-size) * -2);
}
.keyitem25 {
background-position: calc(var(--icon-size) * -5) calc(var(--icon-size) * -2);
}
.keyitem26 {
background-position: calc(var(--icon-size) * -6) calc(var(--icon-size) * -2);
}
.keyitem27 {
background-position: calc(var(--icon-size) * -7) calc(var(--icon-size) * -2);
}
.keyitem28 {
background-position: calc(var(--icon-size) * -8) calc(var(--icon-size) * -2);
}
.keyitem29 {
background-position: calc(var(--icon-size) * -9) calc(var(--icon-size) * -2);
}
.keyitem30 {
background-position: calc(var(--icon-size) * -0) calc(var(--icon-size) * -3);
}
.keyitem31 {
background-position: calc(var(--icon-size) * -1) calc(var(--icon-size) * -3);
}
.keyitem32 {
background-position: calc(var(--icon-size) * -2) calc(var(--icon-size) * -3);
}
.keyitem33 {
background-position: calc(var(--icon-size) * -3) calc(var(--icon-size) * -3);
}
.keyitem34 {
background-position: calc(var(--icon-size) * -4) calc(var(--icon-size) * -3);
}
.keyitem35 {
background-position: calc(var(--icon-size) * -5) calc(var(--icon-size) * -3);
}
.keyitem36 {
background-position: calc(var(--icon-size) * -6) calc(var(--icon-size) * -3);
}
.keyitem37 {
background-position: calc(var(--icon-size) * -7) calc(var(--icon-size) * -3);
}
.keyitem38 {
background-position: calc(var(--icon-size) * -8) calc(var(--icon-size) * -3);
}
.keyitem39 {
background-position: calc(var(--icon-size) * -9) calc(var(--icon-size) * -3);
}
.keyitem40 {
background-position: calc(var(--icon-size) * -0) calc(var(--icon-size) * -4);
}
.keyitem41 {
background-position: calc(var(--icon-size) * -1) calc(var(--icon-size) * -4);
}
.keyitem42 {
background-position: calc(var(--icon-size) * -2) calc(var(--icon-size) * -4);
}
.keyitem43 {
background-position: calc(var(--icon-size) * -3) calc(var(--icon-size) * -4);
}
.keyitem44 {
background-position: calc(var(--icon-size) * -4) calc(var(--icon-size) * -4);
}
.keyitem45 {
background-position: calc(var(--icon-size) * -5) calc(var(--icon-size) * -4);
}
.keyitem46 {
background-position: calc(var(--icon-size) * -6) calc(var(--icon-size) * -4);
}
.keyitem47 {
background-position: calc(var(--icon-size) * -7) calc(var(--icon-size) * -4);
}
.keyitem48 {
background-position: calc(var(--icon-size) * -8) calc(var(--icon-size) * -4);
}
.keyitem49 {
background-position: calc(var(--icon-size) * -9) calc(var(--icon-size) * -4);
}
.keyitem50 {
background-position: calc(var(--icon-size) * -0) calc(var(--icon-size) * -5);
}
.keyitem51 {
background-position: calc(var(--icon-size) * -1) calc(var(--icon-size) * -5);
}
.keyitem52 {
background-position: calc(var(--icon-size) * -2) calc(var(--icon-size) * -5);
}
.keyitem53 {
background-position: calc(var(--icon-size) * -3) calc(var(--icon-size) * -5);
}
.keyitem54 {
background-position: calc(var(--icon-size) * -4) calc(var(--icon-size) * -5);
}
.keyitem55 {
background-position: calc(var(--icon-size) * -5) calc(var(--icon-size) * -5);
}
.keyitem56 {
background-position: calc(var(--icon-size) * -6) calc(var(--icon-size) * -5);
}
.keyitem57 {
background-position: calc(var(--icon-size) * -7) calc(var(--icon-size) * -5);
}
.keyitem58 {
background-position: calc(var(--icon-size) * -8) calc(var(--icon-size) * -5);
}
.keyitem59 {
background-position: calc(var(--icon-size) * -9) calc(var(--icon-size) * -5);
}
.keyitem60 {
background-position: calc(var(--icon-size) * -0) calc(var(--icon-size) * -6);
}
.keyitem61 {
background-position: calc(var(--icon-size) * -1) calc(var(--icon-size) * -6);
}
.keyitem62 {
background-position: calc(var(--icon-size) * -2) calc(var(--icon-size) * -6);
}
.keyitem63 {
background-position: calc(var(--icon-size) * -3) calc(var(--icon-size) * -6);
}
.keyitem64 {
background-position: calc(var(--icon-size) * -4) calc(var(--icon-size) * -6);
}
.keyitem65 {
background-position: calc(var(--icon-size) * -5) calc(var(--icon-size) * -6);
}