.misc1 {
background-position: calc(var(--icon-size) * -0) 0;
}
.misc2 {
background-position: calc(var(--icon-size) * -1) 0;
}
.misc3 {
background-position: calc(var(--icon-size) * -2) 0;
}
.misc4 {
background-position: calc(var(--icon-size) * -3) 0;
}