.sword0 {
background-position: -0px -0px;
}
.sword1 {
background-position: -80px -0px;
}
.sword2 {
background-position: -160px -0px;
}
.sword3 {
background-position: -240px -0px;
}
.sword4 {
background-position: -320px -0px;
}
.sword5 {
background-position: -400px -0px;
}
.sword6 {
background-position: -480px -0px;
}
.sword7 {
background-position: -560px -0px;
}
.sword8 {
background-position: -640px -0px;
}
.sword9 {
background-position: -720px -0px;
}
.sword10 {
background-position: -800px -0px;
}
.sword11 {
background-position: -880px -0px;
}
.sword12 {
background-position: -960px -0px;
}
.sword13 {
background-position: -1040px -0px;
}
.sword14 {
background-position: -1120px -0px;
}
.sword15 {
background-position: -1200px -0px;
}
.sword16 {
background-position: -1280px -0px;
}
.sword17 {
background-position: -1360px -0px;
}
.sword18 {
background-position: -1440px -0px;
}
.sword19 {
background-position: -1520px -0px;
}
.sword20 {
background-position: -1600px -0px;
}
.staff0 {
background-position: -0px -80px;
}
.staff1 {
background-position: -80px -80px;
}
.staff2 {
background-position: -160px -80px;
}
.staff3 {
background-position: -240px -80px;
}
.staff4 {
background-position: -320px -80px;
}
.staff5 {
background-position: -400px -80px;
}
.staff6 {
background-position: -480px -80px;
}
.staff7 {
background-position: -560px -80px;
}
.staff8 {
background-position: -640px -80px;
}
.staff9 {
background-position: -720px -80px;
}
.staff10 {
background-position: -800px -80px;
}
.staff11 {
background-position: -880px -80px;
}
.staff12 {
background-position: -960px -80px;
}
.staff13 {
background-position: -1040px -80px;
}
.staff14 {
background-position: -1120px -80px;
}
.staff15 {
background-position: -1200px -80px;
}
.staff16 {
background-position: -1280px -80px;
}
.staff17 {
background-position: -1360px -80px;
}
.staff18 {
background-position: -1440px -80px;
}
.staff19 {
background-position: -1520px -80px;
}
.staff20 {
background-position: -1600px -80px;
}
.gun0 {
background-position: -0px -160px;
}
.gun1 {
background-position: -80px -160px;
}
.gun2 {
background-position: -160px -160px;
}
.gun3 {
background-position: -240px -160px;
}
.gun4 {
background-position: -320px -160px;
}
.gun5 {
background-position: -400px -160px;
}
.gun6 {
background-position: -480px -160px;
}
.gun7 {
background-position: -560px -160px;
}
.gun8 {
background-position: -640px -160px;
}
.gun9 {
background-position: -720px -160px;
}
.gun10 {
background-position: -800px -160px;
}
.gun11 {
background-position: -880px -160px;
}
.gun12 {
background-position: -960px -160px;
}
.gun13 {
background-position: -1040px -160px;
}
.gun14 {
background-position: -1120px -160px;
}
.gun15 {
background-position: -1200px -160px;
}
.gun16 {
background-position: -1280px -160px;
}
.gun17 {
background-position: -1360px -160px;
}
.gun18 {
background-position: -1440px -160px;
}
.gun19 {
background-position: -1520px -160px;
}
.gun20 {
background-position: -1600px -160px;
}
.bow0 {
background-position: -0px -240px;
}
.bow1 {
background-position: -80px -240px;
}
.bow2 {
background-position: -160px -240px;
}
.bow3 {
background-position: -240px -240px;
}
.bow4 {
background-position: -320px -240px;
}
.bow5 {
background-position: -400px -240px;
}
.bow6 {
background-position: -480px -240px;
}
.bow7 {
background-position: -560px -240px;
}
.bow8 {
background-position: -640px -240px;
}
.bow9 {
background-position: -720px -240px;
}
.bow10 {
background-position: -800px -240px;
}
.bow11 {
background-position: -880px -240px;
}
.bow12 {
background-position: -960px -240px;
}
.bow13 {
background-position: -1040px -240px;
}
.bow14 {
background-position: -1120px -240px;
}
.bow15 {
background-position: -1200px -240px;
}
.bow16 {
background-position: -1280px -240px;
}
.bow17 {
background-position: -1360px -240px;
}
.bow18 {
background-position: -1440px -240px;
}
.bow19 {
background-position: -1520px -240px;
}
.bow20 {
background-position: -1600px -240px;
}
.toy0 {
background-position: -0px -320px;
}
.toy1 {
background-position: -80px -320px;
}
.toy2 {
background-position: -160px -320px;
}
.toy3 {
background-position: -240px -320px;
}
.toy4 {
background-position: -320px -320px;
}
.toy5 {
background-position: -400px -320px;
}
.toy6 {
background-position: -480px -320px;
}
.toy7 {
background-position: -560px -320px;
}
.toy8 {
background-position: -640px -320px;
}
.toy9 {
background-position: -720px -320px;
}
.toy10 {
background-position: -800px -320px;
}
.toy11 {
background-position: -880px -320px;
}
.toy12 {
background-position: -960px -320px;
}
.toy13 {
background-position: -1040px -320px;
}
.toy14 {
background-position: -1120px -320px;
}
.toy15 {
background-position: -1200px -320px;
}
.toy16 {
background-position: -1280px -320px;
}
.toy17 {
background-position: -1360px -320px;
}
.toy18 {
background-position: -1440px -320px;
}
.toy19 {
background-position: -1520px -320px;
}
.toy20 {
background-position: -1600px -320px;
}
.hatm0 {
background-position: -0px -400px;
}
.hatm1 {
background-position: -80px -400px;
}
.hatm2 {
background-position: -160px -400px;
}
.hatm3 {
background-position: -240px -400px;
}
.hatm4 {
background-position: -320px -400px;
}
.hatm5 {
background-position: -400px -400px;
}
.hatm6 {
background-position: -480px -400px;
}
.hatm7 {
background-position: -560px -400px;
}
.hatm8 {
background-position: -640px -400px;
}
.hatm9 {
background-position: -720px -400px;
}
.hatm10 {
background-position: -800px -400px;
}
.hatm11 {
background-position: -880px -400px;
}
.hatm12 {
background-position: -960px -400px;
}
.hatm13 {
background-position: -1040px -400px;
}
.hatm14 {
background-position: -1120px -400px;
}
.hatm15 {
background-position: -1200px -400px;
}
.hatm16 {
background-position: -1280px -400px;
}
.hatm17 {
background-position: -1360px -400px;
}
.hatm18 {
background-position: -1440px -400px;
}
.hatm19 {
background-position: -1520px -400px;
}
.hatm20 {
background-position: -1600px -400px;
}
.armorm0 {
background-position: -0px -480px;
}
.armorm1 {
background-position: -80px -480px;
}
.armorm2 {
background-position: -160px -480px;
}
.armorm3 {
background-position: -240px -480px;
}
.armorm4 {
background-position: -320px -480px;
}
.armorm5 {
background-position: -400px -480px;
}
.armorm6 {
background-position: -480px -480px;
}
.armorm7 {
background-position: -560px -480px;
}
.armorm8 {
background-position: -640px -480px;
}
.armorm9 {
background-position: -720px -480px;
}
.armorm10 {
background-position: -800px -480px;
}
.armorm11 {
background-position: -880px -480px;
}
.armorm12 {
background-position: -960px -480px;
}
.armorm13 {
background-position: -1040px -480px;
}
.armorm14 {
background-position: -1120px -480px;
}
.armorm15 {
background-position: -1200px -480px;
}
.armorm16 {
background-position: -1280px -480px;
}
.armorm17 {
background-position: -1360px -480px;
}
.armorm18 {
background-position: -1440px -480px;
}
.armorm19 {
background-position: -1520px -480px;
}
.armorm20 {
background-position: -1600px -480px;
}
.hatf0 {
background-position: -0px -560px;
}
.hatf1 {
background-position: -80px -560px;
}
.hatf2 {
background-position: -160px -560px;
}
.hatf3 {
background-position: -240px -560px;
}
.hatf4 {
background-position: -320px -560px;
}
.hatf5 {
background-position: -400px -560px;
}
.hatf6 {
background-position: -480px -560px;
}
.hatf7 {
background-position: -560px -560px;
}
.hatf8 {
background-position: -640px -560px;
}
.hatf9 {
background-position: -720px -560px;
}
.hatf10 {
background-position: -800px -560px;
}
.hatf11 {
background-position: -880px -560px;
}
.hatf12 {
background-position: -960px -560px;
}
.hatf13 {
background-position: -1040px -560px;
}
.hatf14 {
background-position: -1120px -560px;
}
.hatf15 {
background-position: -1200px -560px;
}
.hatf16 {
background-position: -1280px -560px;
}
.hatf17 {
background-position: -1360px -560px;
}
.hatf18 {
background-position: -1440px -560px;
}
.hatf19 {
background-position: -1520px -560px;
}
.hatf20 {
background-position: -1600px -560px;
}
.armorf0 {
background-position: -0px -640px;
}
.armorf1 {
background-position: -80px -640px;
}
.armorf2 {
background-position: -160px -640px;
}
.armorf3 {
background-position: -240px -640px;
}
.armorf4 {
background-position: -320px -640px;
}
.armorf5 {
background-position: -400px -640px;
}
.armorf6 {
background-position: -480px -640px;
}
.armorf7 {
background-position: -560px -640px;
}
.armorf8 {
background-position: -640px -640px;
}
.armorf9 {
background-position: -720px -640px;
}
.armorf10 {
background-position: -800px -640px;
}
.armorf11 {
background-position: -880px -640px;
}
.armorf12 {
background-position: -960px -640px;
}
.armorf13 {
background-position: -1040px -640px;
}
.armorf14 {
background-position: -1120px -640px;
}
.armorf15 {
background-position: -1200px -640px;
}
.armorf16 {
background-position: -1280px -640px;
}
.armorf17 {
background-position: -1360px -640px;
}
.armorf18 {
background-position: -1440px -640px;
}
.armorf19 {
background-position: -1520px -640px;
}
.armorf20 {
background-position: -1600px -640px;
}
.flair0 {
background-position: -0px -720px;
}
.flair1 {
background-position: -80px -720px;
}
.flair2 {
background-position: -160px -720px;
}
.flair3 {
background-position: -240px -720px;
}
.flair4 {
background-position: -320px -720px;
}
.flair5 {
background-position: -400px -720px;
}
.flair6 {
background-position: -480px -720px;
}
.flair7 {
background-position: -560px -720px;
}
.flair8 {
background-position: -640px -720px;
}
.flair9 {
background-position: -720px -720px;
}
.flair10 {
background-position: -800px -720px;
}
.flair11 {
background-position: -880px -720px;
}
.flair12 {
background-position: -960px -720px;
}
.flair13 {
background-position: -1040px -720px;
}
.flair14 {
background-position: -1120px -720px;
}
.flair15 {
background-position: -1200px -720px;
}
.flair16 {
background-position: -1280px -720px;
}
.flair17 {
background-position: -1360px -720px;
}
.flair18 {
background-position: -1440px -720px;
}
.flair19 {
background-position: -1520px -720px;
}
.flair20 {
background-position: -1600px -720px;
}
.flair21 {
background-position: -0px -800px;
}
.flair22 {
background-position: -80px -800px;
}
.flair23 {
background-position: -160px -800px;
}
.flair24 {
background-position: -240px -800px;
}
.flair25 {
background-position: -320px -800px;
}
.flair26 {
background-position: -400px -800px;
}
.flair27 {
background-position: -480px -800px;
}
.flair28 {
background-position: -560px -800px;
}
.flair29 {
background-position: -640px -800px;
}
.flair30 {
background-position: -720px -800px;
}
.flair31 {
background-position: -800px -800px;
}
.flair32 {
background-position: -880px -800px;
}
.flair33 {
background-position: -960px -800px;
}
.flair34 {
background-position: -1040px -800px;
}
.flair35 {
background-position: -1120px -800px;
}
.flair36 {
background-position: -1200px -800px;
}
.flair37 {
background-position: -1280px -800px;
}
.flair38 {
background-position: -1360px -800px;
}
.flair39 {
background-position: -1440px -800px;
}
.flair40 {
background-position: -1520px -800px;
}
.flair41 {
background-position: -1600px -800px;
}
.flair42 {
background-position: -0px -880px;
}
.flair43 {
background-position: -80px -880px;
}
.flair44 {
background-position: -160px -880px;
}
.flair45 {
background-position: -240px -880px;
}
.flair46 {
background-position: -320px -880px;
}
.flair47 {
background-position: -400px -880px;
}
.flair48 {
background-position: -480px -880px;
}
.flair49 {
background-position: -560px -880px;
}
.flair50 {
background-position: -640px -880px;
}
.flair51 {
background-position: -720px -880px;
}
.flair52 {
background-position: -800px -880px;
}
.flair53 {
background-position: -880px -880px;
}
.flair54 {
background-position: -960px -880px;
}
 .equipEmpty {
background-position: -1040px -880px;
 }